@font-face {
	font-family: 'Junicode';
	src: url('junicode.regular.ttf') format('truetype');
}

body {
/*
  background: url("images/BackgroundPattern");
  background-repeat: repeat;
*/
	
/*  background-color:antiquewhite;*/
/*	background-color: #FFF7F2;*/
}

/*
.page-header{
	font-family: Junicode;
	font-style: normal;
	font-size: 26px;
	color: #BF7135;
}
*/

.brand-header{
 	background-color: #265888; 
	height: 65px; 
	padding-bottom: 70px;
}

.navbar-dark{
	background-color: #2A3B56;
}

.header-title{
	color: #BF7135;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-style: normal;
	font-size: 22pt;
}

.header-sub-title{
	color: white;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 14pt;
	text-align: right;
	padding: 0;
}

.header-nav-text{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 12pt;
}

.page-header{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-style: normal;
	font-size: 26px;
	color: #BF7135;
	font-weight: bold;
	margin-top: 20px;
	text-align: center;
}


.portfolio-box{
	position: relative;
	top: 0;
	left: 0;
}

.portfolio-img {
	position: relative;
	top: 0;
	left: 0;
}

.portfolio-btn{
	position: absolute;
	top: 73%;
	left: 37.5%;
	height: 15%;
	width: 25%;
	border: none;
	text-align: center;
	font-size: 18px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-weight: bold;
	background-color: white;
	color: #BF7135;
	transition: 0.3s;
}

.portfolio-btn:hover {
	background-color:#BF7135;
	color: white;
}

.portfolio-divider{
	border-width: 5px;
	border-radius: 15px;
/*	border-color: #2A3B56;*/
	border-color: #BF7135;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.img-caption{
	font-style: italic;
}


.default-btn{
	
	text-align: center;
	font-size: 14px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	background-color: white;
	color: #BF7135;
	transition: 0.3s;
}

.default-btn:hover {
	background-color:#BF7135;
	color: white;
}

.default-btn-active{
	
	text-align: center;
	font-size: 14px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	background-color: #BF7135;
	color: white;
	transition: 0.3s;
}

.fa {
  	padding: 20px  5px 20px 5px;
  	text-align: center;
  	text-decoration: none;
  	margin: 5px 2px;
/*	color: #BF7135;*/
	color: white;
}


.fa:hover {
/*	background: #BF7135;*/
/*  	color: white;*/
	color: #BF7135;
}

.section-container{
/*	background-color: #2A3B56;*/
	background-color: #265888;
	color: white;
	padding-top: 15px;
	margin-bottom: 25px;
	border-radius: 10px;
}

.vertical-center {
  min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#voyage-leveldesign{
	display: none;
}


#visions-gd{
	display: none;
}

#visions-programming{
	display: none;
}
